*,
*::before,
*::after {
	box-sizing:border-box;
}

body {
	margin:0;
}

.content {
	width:100vw;
	height:100vh;
	margin:0;
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	grid-template-rows:16% 16% 16% 16% 16% 4%;
	grid-template-areas:
	"header header header header header"
	"sidebar main main main main"
	"sidebar main main main main"
	"sidebar main main main main"
	"sidebar main main main main"
	"sidebar main main main main";
}

header {
	border:1px solid red;
	grid-area:header;
}

.sidebar {
	overflow-y:auto;
	height:100vh;
	border:1px solid green;
	grid-area:sidebar;
}
.container {
	height:100vh;
	border:1px solid blue;
	grid-area:main;
}

form {
	margin:auto;
}

.visibility {
	visibility:hidden;
}
